{% extends 'base.html.twig' %}

{% block title %}Nos Formations{% endblock %}

{% block body %}

<div class="formation mobile" style="background-color: white;">
            <h2 class="mobile">Découvrer nos <br> <span class="orange"> Formations</span> disponibles</h2>
            <p class="mobile">Grâce à nos offres que vous cherchiez à obtenir votre permis pour la fois ou que souhaiter améliorer vos compétence en matière de conduite.
            <br> Nous avons ce qu’il vous faut à vous de choisir.
            </p>
      
            <div class="case-slider">
              <p style="background-color: #F56155" >Code</p>
            </div>
            <div class="formation-text">
              <div class="forfait">
                  <h2>Forfait <span class="orange">A</span></h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis tempora eius dicta dignissimos cum fugiat magni delectus veritatis commodi soluta. <br>
                  <div class="prix">999$<span class="orange">HT</span></p></div>
              </div>
            <div class="case-slider">
              <p style="background-color: #424B54">Conduite</p>
            </div>
            <div class="formation-text">
              <div class="forfait">
                  <h2>Forfait <span class="orange">B</span></h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis tempora eius dicta dignissimos cum fugiat magni delectus veritatis commodi soluta. <br>
                  <div class="prix">999$<span class="orange">HT</span></p></div>
              </div>
            <div class="case-slider">
              <p style="background-color:#EBCFB2">Code + Conduite</p>
            </div>
            <div class="formation-text">
              <div class="forfait">
                  <h2>Forfait <span class="orange">C</span></h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis tempora eius dicta dignissimos cum fugiat magni delectus veritatis commodi soluta. <br>
                  <div class="prix">999$<span class="orange">HT</span></p></div>
              </div>
            <div class="case-slider">
              <p style="background-color:#176087">Permis accompagnée</p>
            </div>
            <div class="formation-text">
              <div class="forfait">
                  <h2>Forfait <span class="orange">D</span></h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis tempora eius dicta dignissimos cum fugiat magni delectus veritatis commodi soluta. <br>
                  <div class="prix">999$<span class="orange">HT</span></p></div>
              </div>
            <div class="case-slider">
              <p style="background-color:#86A59C">Permis accompagnée</p>
            </div>
            <div class="formation-text">
              <div class="forfait">
                  <h2>Forfait <span class="orange">E</span></h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis tempora eius dicta dignissimos cum fugiat magni delectus veritatis commodi soluta. <br>
                  <div class="prix">999$<span class="orange">HT</span></p></div>
              </div>
            <div class="case-slider">
              <p style="background-color:#0A2239">Permis accompagnée</p>
            </div>
            <div class="formation-text">
              <div class="forfait">
                  <h2>Forfait <span class="orange">F</span></h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis tempora eius dicta dignissimos cum fugiat magni delectus veritatis commodi soluta. <br>
                  <div class="prix">999$<span class="orange">HT</span></p></div>
              </div>
    </div>
           </div>
</div>
</div>
</div>
</div>
</div>
<!-- -----------------Début PC------------------------ -->
<div class="nosFormation">
  <h1>Nos <span class="orange">Formations</span></h1>
  <p>Choisissez parmis notre large panel de formations.
    <br>Découvrez nos offres plus bas.</p>
</div>
<div class="formation-PC">
  <h5 class="codeFormation">AB</h5>
  <H2>CODE <i class="fa-solid fa-plus"></i></H2>
  <h5 class="prixPC">999$ HT</h5>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis voluptatem nihil culpa velit. Non quia nostrum totam beatae, veniam doloremque!</p>
  <span class="orange">Cette formation comprend :</span>
  <li>20h</li>
  <li>Suivi complet</li>
  <li>Livret de révision</li>
  <button class="btn-formation">Choisir cette formation</button>
</div>
<div class="formation-PC">
  <h5 class="codeFormation">BC</h5>
  <H2>CODE + Conduite<i class="fa-solid fa-plus"></i></H2>
  <h5 class="prixPC">999$ HT</h5>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis voluptatem nihil culpa velit. Non quia nostrum totam beatae, veniam doloremque!</p>
  <span class="orange">Cette formation comprend :</span>
  <li>20h</li>
  <li>Suivi complet</li>
  <li>Livret de révision</li>
  <button class="btn-formation">Choisir cette formation</button>
</div>
<div class="formation-PC">
  <h5 class="codeFormation">B</h5>
  <H2>Conduite<i class="fa-solid fa-plus"></i></H2>
  <h5 class="prixPC">999$ HT</h5>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis voluptatem nihil culpa velit. Non quia nostrum totam beatae, veniam doloremque!</p>
  <span class="orange">Cette formation comprend :</span>
  <li>20h</li>
  <li>Suivi complet</li>
  <li>Livret de révision</li>
  <button class="btn-formation">Choisir cette formation</button>
</div>
<div class="formation-PC" style="height: fit-content;">
  <h5 class="codeFormation">AC</h5>
  <H2>Forfait accéléré<i class="fa-solid fa-plus"></i></H2>
  <h5 class="prixPC">999$ HT</h5>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis voluptatem nihil culpa velit. Non quia nostrum totam beatae, veniam doloremque!</p>
  <span class="orange">Cette formation comprend :</span>
  <li>20h</li>
  <li>Suivi complet</li>
  <li>Livret de révision</li>
  <button class="btn-formation">Choisir cette formation</button>
</div>
<div class="formation-PC">
  <h5 class="codeFormation">AP</h5>
  <H2>Forfait apprentissage<i class="fa-solid fa-plus"></i></H2>
  <h5 class="prixPC">999$ HT</h5>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis voluptatem nihil culpa velit. Non quia nostrum totam beatae, veniam doloremque!</p>
  <span class="orange">Cette formation comprend :</span>
  <li>20h</li>
  <li>Suivi complet</li>
  <li>Livret de révision</li>
  <button class="btn-formation">Choisir cette formation</button>
</div>
<div class="formation-PC">
  <h5 class="codeFormation">AAC</h5>
  <H2>Conduite supervisée<i class="fa-solid fa-plus"></i></H2>
  <h5 class="prixPC">999$ HT</h5>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis voluptatem nihil culpa velit. Non quia nostrum totam beatae, veniam doloremque!</p>
  <span class="orange">Cette formation comprend :</span>
  <li>20h</li>
  <li>Suivi complet</li>
  <li>Livret de révision</li>
  <button class="btn-formation">Choisir cette formation</button>
</div>
</div>
{% endblock %}
