body{
    margin: 0;
    font-family: 'Inter', sans-serif; 
    background-color: #ffffff;
}
/* *{
    border: #F56155 solid 3px;
} */
/* Couleur Text */
.one{
    background-color: #384654;
}
.white{
    color: #fff;
}
.orange{
    color: #F56155;
}
.black{
    color: black;
}
.darkgrey{
    color: #384654;
}
/* NavbarMobile */
.navbar{
    background-color: #384654;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: fit-content;
    padding-bottom: 20px;
}

.navbarPC{
    display: none;
}
.hamb-menu img{
    height: 60px;
    max-height: 60px;
    max-width: 60px;
    position: relative;
    left: 80%;
}
.fa-xmark{
    position: relative;
    color: #384654;
    scale: 3;
    top: -50px;
    left: 150px;
}

.nav-mobile{
    height: 40vw;
    max-height: 127px;
    transition: 1s;
    max-width: 100%;
    z-index: 1;
    position: absolute;
    top: -10px;
    left: -100%;
    width: 100%;
    list-style: none;
    text-align: center;
    color: #384654;
    background-color: #F56155;
    padding-top: 91px;
    padding-bottom: 90px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.nav-mobile li {
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: -20px ;
    font-size: x-large;
    font-weight: 600;
    color: #384654;
    
}
.nav-mobile a {
    text-decoration: none;
}
.navbar h1{
    background-color: #384654;
    text-align: center;
    margin-top: 0;
    padding-top: 2vh;
    color:#fff;
    text-decoration: underline #F56155 5px;
    text-underline-offset: 10px;
}
.navbar-text {
    text-align: center;
    color: #ffffffcc;
    margin:auto 10%;
    padding-top: 1vh;
    padding-bottom: 2vh;
}
.navbar-btn {
    position: relative;
    color: #fff;
    align-items: center;
    text-align: center;
    background-color: #F56155;
    border-radius: 20px;
    margin: auto;
    width: 50vw;
    max-width: 276px;
    padding: 5px  
}
/* Début accueil */
.header {
    display: none;
}
/* Paiment 4x sans frais  */
.p4x {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 20px;
}
.p4x-a{
    text-align: center;
}
.p4x h2{
    margin: 5%;
    text-align: center;
    font-weight: bolder;
    color: #F56155;
}
.p4x p{
    margin: 0% 5%;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold; 
}
.p4x a{

   text-align: center;
   margin: auto 25%;
   color: #F56155;
   font-style: italic;
   text-decoration: none;
}


.formation{
    background-color: #E6E6E6;
    padding-top: 2px 0px;
    overflow: hidden;
}
.formation h2{
    margin-top: 2vh;
    padding-left: 5vw;
    font-weight: 900;
    padding-top: 5px;
}
.formation p{
    padding: 0 5vw;
    color: rgba(0, 0, 0, 0.68);
    font-weight: 600;
}
.slider-forfait{
    transition: 300ms;
    display: flex;
    gap: 30px;
    max-width: 390px;
    position: relative;

}
.case-slider p {
    width: 60vw;
    height: 6vh;
    max-height: 6vh;
    border-radius: 20px;
    margin: auto 15%;
    text-align: center;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 35px;
    max-width: 250px;
    
}
.formation-a{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.formation a{
    margin: auto;
    color: #F56155;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
}
.news{
    background-color: #384654;
    border-radius: 20px;
    height: fit-content;
    padding-bottom: 20px;
}
.news-a{
    text-align: center;
}
.news h2{
    color: #fff;
    text-align: center;
    padding-top: 4vh;
    font-weight: 500;
    margin: 0;    
}
.news p {
    padding: 0px 3vh;
    color: rgba(0, 0, 0, 0.68);
    font-weight: 300;
    color: #ffffffca;
}
.news a {
   margin: 10% 23%;
   color: #F56155;
   font-weight: 100;
   font-style: italic;
   text-decoration: none;
}
.avis {
    margin: 20px auto;
    height: fit-content;
    text-align: center;
    max-width: 390px;
    align-items: center;
}
.avis .color {
    margin-bottom: 100px;
    font-weight: 600;
    font-size: larger;
}

.borderavis{
    margin-top: 20px;
    display: flex;   
}
.avis-text {
   position: absolute;
   width: 300px;
   margin-top: 20px;
   margin-left: 20px;
}
.border-left .fa-solid{
    color: #F56155;
}
.border-right .fa-solid{
    color: #F56155;
    margin-top: 120px;
}
.border-right{
    position: relative;
    width: 50%;
    height: 150px;
    border-right: #384654 solid 5px;
    border-bottom: #384654 solid 5px;
    margin-right: 20px;
    max-width: 300px;
}
.border-left{
    position: relative;
    width: 50%;
    height: 150px;
    border-left: #F56155 solid 5px;
    border-top: #F56155 solid 5px;
    margin-left: 20px;
    max-width: 300px;
}
/* Fin accueil */
/* FooterMobile */
.footer {
    height: fit-content;
    background-color: #384654;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.footer h2 {
    text-align: center;
    padding-top: 2vh;
    color: #fff;
    font-weight: 500;
}
.footer li {
    list-style: none;
    padding: 2vh;
    text-align: center;
    color: #fff;
}
.logo-reseau img{
    height: 30px;
    
}
.logo {
    position: relative;
    align-items: center;
    height: 70px;
    margin: auto;
}
.logo-reseau{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
}
.lienutile{
    display: none;
}
.PC{
    display: none;
}
.avisB{
    display: none;
}
.avisC{
    display: none;
}
/* Fin footerMobile */

/* Début écran pc */
@media (min-width: 1150Px) {
    .PC{
        display: block;
    }
    .mobile{
        display: none;
    }
    /* Navbar PC */
    .navbarPC{
        position: relative;
        margin: auto;
        display: flex;
        height: 20px;
        display: flex;
        gap: 8vw;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .navbar{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        height: 20px;
        padding: 15px 20px;
        display: flex;
        gap: 70px; 
    }
    .logo-reseaupc:hover img {
        transition: 0.30s;
        scale: 1.2;
    }
    .navbar a {
        visibility: visible;
        margin: auto;
        text-decoration: none;
        color: #E6E6E6; 
    }
     a:hover {
        transition: 0.30s;
        color: #F56155;
    }
    .hamb-menu{
        display: none;
    }
    .navbar h1{
        visibility: hidden;
    }
    .logo-reseaupc{
        max-height: 30px;
    }
    .logopc{
        height: 20px;
    }
    .btn-devis{
        background-color: #F56155;
        border-radius: 30px;
        width: 150px;
        text-align: center;
        height: 20px;
        padding: 2px;
        transition: 0.15;
    }
    .btn-devis:hover {
        box-shadow: 3px 5px 5px #212121;
        color: #fff;
    }
    .hamb-menu {
        visibility: hidden;
    }
    
    /* FooterPC */
    .footer{
        display: flex;
        margin: auto;
        justify-content: center;
        gap: 30vw;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding-bottom: 20px;
    }
    .lienutile{
        display: block;
    }
    .lienutile a{
        text-decoration: none;
        color: #E6E6E6;
    }
    .lienutile a:hover {
        transition: 0.30s;
        color: #F56155;
    }
    .logo-reseau{
        padding-top: 15px;
        gap: 1vw;
    }
    .header {
        margin: 0 200px;
        margin-bottom: 20px;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        align-items: center;
        gap: 20px;
    }
    .imgAb{
        margin: 4vw;
    }
    .imgAB{
        position: relative;
        width: 100%;
        border-radius: 20px;
        min-width: 380px;
    }
    .header-text{
        min-height: 550px;
        padding-right: 20px;
        margin: auto;
        justify-content: center;
        text-align: center;
        top: -10vw;
    }
    .header-text a{
        text-decoration: none;
        color: #fff;
    }
    .header-text p {
        color: #1D2424;
        font-style: italic;
        padding-bottom: 30px;
        font-size: 1.2vw;
        margin-bottom: 20px;
    }
    .logoAB{
        position: relative;
        height: 10vW; 
        max-height: 150px;
    }

    .btn-contact{
        color: #fff;
        font-size: x-large;
        background-color: #F56155;
        border-radius: 20px;
        width: 300px;
        text-align: center;
        height: 50px;
        padding-top: 25px;
        margin: auto;
        transition: 0.15;
    }
    .btn-contact:hover {
        box-shadow: 3px 5px 5px #212121;
    }
    .p4x{
        margin: 0 100px;
        padding: 50px 0px;
        height: fit-content;
        background-color: #384654;
        border-radius: 20px;
    }
    .p4x h2{
        margin: auto;
        font-size: 2vw;
        padding-bottom: 20px;
    }
    .p4x p{
        font-style: italic;
        color: #ffffffdb;
        font-size: 1.2rem;
    }
    .p4x-a{
        font-size: 1.5rem;
    }
    .formation{
        background-color: #ffffff;
    }
    .formation-title{
        margin: 30px; 
    }
   
    .formation-title span {
        color: #fff;
        font-size: x-large;
        background-color: #F56155;
        border-radius: 20px;
        width: 300px;
        text-align: center;
        height: 50px;
        padding-top: 25px;
        margin: auto;
        transition: 0.15;
        }
    .formation-title:hover span {
        
        box-shadow: 3px 5px 5px #212121;
        
    }
    .formation a{
        text-align: center;
        color: white;
        margin: auto;
        
    }
    .slider-forfait{   
    margin: auto;
    justify-content:center ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    }
    .case-slider{
        max-width: 60vw;
    }
    .case-slider p{
        margin: 0px;
        height: 9vh;
        padding-top: 70px;
        padding-bottom: 0px;
        max-height: 9vh;
    }
    
    .news {   
    margin: 0 100px;
    padding: 50px 0px;
    height: fit-content;
    background-color: #384654;
    border-radius: 20px;
    }
    .news h2 {
    padding-top: 0px;
    }
    .news p{
        text-align: center;
        font-style: italic;
        color: #ffffffdb;
        font-size: 1.2rem;
        max-width: 60vw;
    }
    .news-pc {
        display: flex;
        grid-template-columns: 1fr 1fr ;
        align-items: center;
    }
    .btn-actu{
        min-width: 200px;
        background-color: #F56155;
        text-align: center;
        padding: 10px 0px;
        margin-right: 20px;
        border-radius: 20px;
        max-height: 20px;
        transition: 0.15;
    }
    .btn-actu:hover{
        box-shadow: 3px 5px 5px #212121;
    }  
    .news a{
        color: #fff;
    }
   
    .avis{
        margin: 50px auto;
        max-width: fit-content;  
    }

    .grid-avis {
        justify-content: center;
        max-width: 1150px;
        width: 1150px;
        display: grid;
        margin-top: 40px;
        margin-bottom: 100px;
        grid-template-columns: 1fr 1fr 1fr;
        scale: 1.05;
    }
    .avisC{
        display: flex;
    }
    .avisB{
        display: flex;
    }
    .border-right .fa-solid{
        color: #F56155;
        margin-top: 125px;
    }


}   