{% extends 'base.html.twig' %}

{% block title %}Nos Actualités{% endblock %}

{% block body %}
<div class="title">
    <h1>Les <span>Actualités</span></h1>
    <p>Découvrez ce qui a changer et nos offres du moment</p>
    </div>

    <div class="articles">
        <div class="card--article">
            <div class="article--left">
                <img src="asset/img/ImageAB.png" >
            </div>
            <div class="article--right">
                <h2>Title</h2>
                <h3>Découvrez nos offres du moment</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis veritatis quasi at similique officiis ut mollitia, non fuga illum, quam dolor perspiciatis ullam accusamus facere tenetur minus rerum, consectetur expedita.</p>
            </div>
        </div>
        <div class="card--article">
            <div class="article--left">
                <img src="asset/img/ImageAB.png" >
            </div>
            <div class="article--right">
                <h2>Title</h2>
                <h3>Découvrez nos offres du moment</h3>
                <p>Croché du droit nuque ouverte reste plus qu'a visé la lucarne</p>
            </div>
        </div>
    </div>
 
</div>
{% endblock %}
